<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rafaelcarvalho.mybucketlist">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/BlueBucket">
        <activity
            android:name=".activities.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".activities.TabbedListsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rafaelcarvalho.mybucketlist.activities.TabbedListsActivity" />
        </activity>
        <activity
            android:name=".activities.SearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".activities.TabbedListsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rafaelcarvalho.mybucketlist.activities.TabbedListsActivity" />
        </activity>
        <activity
            android:name=".activities.TabbedListsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.TabbedListsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rafaelcarvalho.mybucketlist.activities.TabbedListsActivity" />
        </activity>
    </application>

</manifest>